@use '../abstracts/variables' as *;
@use '../abstracts/colors' as *;

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    padding: 1.6rem 3.2rem;
    font-size: $body-sm;
    line-height: map-get($map: $line-heights, $key: 'normal');
    font-weight: $weight-bold;
    border-radius: map-get($map: $border-radius, $key: 'lg');
    cursor: pointer;
    border: none;
    transition: all 0.3s ease;
}

.button--primary {
    color: $btn-secondary !important;
    background-color: $btn-primary;
}

.button--secondary {
    color: $text-primary !important;
    background-color: $btn-secondary;
}

.button:hover {
    //Adds a subtle elevation effect to indicate hover state of button
    transform: translateY(-2px) scale(1.05);
    box-shadow: $shadow-button-primary;
}

.button:active {
    //Return the button to its normal position while pressing
    transform: translateY(0) scale(1);
}
