@use 'sass:map';
@use '../base/reset' as *;
@use '../abstracts/variables' as *;
@use '../abstracts/colors' as *;
@use '../abstracts/mixins' as *;
@use '../vendors/icomoon' as *;
@use '../vendors/fonts.scss' as *;
@use '../base/layout-breakpoints' as *;
@use '../components/button' as *;

header {
    position: sticky;
    top: 0;
    background-color: $white;
}

.header {
    max-width: map-get($map: $breakpoints, $key: 'md');
    padding-block: 3.2rem;
    margin-inline: map-get($map: $margin-inline, $key: 'sm');
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header {
    .header__hamburger {
        width: 4rem;
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .icon-hamburger {
        font-size: 4rem;
    }

    .navigation {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 250px;
        height: 100vh;
        display: none;
        flex-direction: column;
        align-items: center;
        order: 2;
        padding: 3rem;
        gap: 3.8rem;
        white-space: nowrap;
        background-color: $white;
        transform-origin: right;
        animation-name: openingEffect;
        animation-duration: 1s;
    }

    .navigation__section--start {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }

    .navigation__link {
        text-decoration: none;
        text-align: center;
        color: $text-primary-50;
        font-size: $body-sm;
        line-height: normal;
        font-weight: $weight-bold;
    }

    .navigation__link--primary {
        color: $text-primary;
    }

    .navigation__close-btn {
        width: 3rem;
        height: 3rem;
        border-color: $border-primary;
        border-radius: 5px;
        align-self: flex-end;
    }

    .navigation__section--end {
        width: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3.2rem;
        white-space: nowrap;
        position: fixed;
        top: 350px;
        right: 0;
        z-index: 3;
        transform-origin: right;
        animation-name: openingEffect;
        animation-duration: 1s;
        display: none;
    }
}

.header.navigation-open {
    .navigation__section--end {
        display: flex;
    }

    .navigation {
        display: flex;
    }
}

//Hamburger opening animation
@keyframes openingEffect {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}

//responsive layout for tablet screens
@include mq-min('md') {
    .header {
        max-width: map-get($breakpoints, xl);
        margin-inline: map-get($map: $margin-inline, $key: 'md');
        border-radius: 10px;

        .header__logo {
            order: -1;
            justify-self: center;
        }

        .header__hamburger {
            order: -2;
        }

        .navigation__section--end {
            max-width: 220px;
            position: static;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            animation: none;
        }

        .navigation {
            bottom: 0;
            left: 0;
            transform-origin: left;
            animation-name: openingEffect;
            animation-duration: 1s;
        }
    }
}

//reponsive layout for desktop screens
@include mq-min('xl') {
    header {
        background-color: transparent;
    }
    .header {
        max-width: 100%;
        margin-top: 3.4rem;
        margin-inline: calc(map-get($map: $margin-inline, $key: 'lg') - 6.5rem);
        padding-inline: 6.5rem;
        top: 3.4rem;
        border-radius: 10px;
        background-color: $white;

        .header__hamburger {
            display: none;
        }

        .navigation__close-btn {
            display: none;
        }

        .navigation {
            height: initial;
            width: initial;
            padding: initial;
            position: static;
            display: flex;
            flex-direction: row;
            background-color: $white;
            animation: none;
        }

        .navigation__section--start {
            display: flex;
            flex-direction: row;
            order: 2;
            gap: 6.4rem;
        }

        .navigation__section--end {
            max-width: 220px;
            position: static;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            order: 3;
            animation: none;
        }
    }
}
