//Raw color variables
$black: #000000;
$white: #ffffff;
$hot-pink: #f85e9f;
$orange: #ff5722;
$yellow: #facd49;
$violet: #5d50c6;
$grey-scale-black: #191825;
$grey-scale-black-10: #191825;
$cyan: #06b6d4;
$subtle-white: #eeeeee;
$lime-green: #32cd32;

//Text colors
$text-hero: $black;
$text-primary: $grey-scale-black;
$text-primary-50: rgba($grey-scale-black, 0.5);
$text-primary-75: rgba($grey-scale-black, 0.75);
$text-primary-10: rgba($grey-scale-black, 0.1);
$text-primary-5: rgba($grey-scale-black, 0.05);
$text-secondary: $hot-pink;
$text-user-data: $orange;
$shadow-blur-50: rgba($orange, 0.5);

//Background colors of elements (Buttons)
$btn-primary: $violet;
$btn-secondary: $white;
$btn-hover-color: rgba($violet, 0.7);
$icon-hover-color: rgba($violet, 0.7);
$bg-tracker-active: $hot-pink;
$bg-tracker-inactive: $text-primary-5;

//Border colors
$border-primary: $text-primary-10;
$border-secondary: $text-primary-5;
$deals-border-primary: rgba($hot-pink, 0.2);
$deals-border-secondary: rgba($black, 0.2);

//Colors for special deals feature
$wheel-color-primary: $hot-pink;
$wheel-color-secondary: $violet;
$wheel-color-accent-1: $yellow;
$wheel-color-accent-2: $cyan;
$deals-validity-highlight: $violet;

//Special deals cards background colors
$overlay-color: rgba($black, 0.5);
$wheel-base-color: $subtle-white;
$deals-card-primary: linear-gradient(
    90deg,
    rgba(244, 67, 108, 0.05) 0%,
    rgba(124, 58, 237, 0.05) 100%
);
