@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.container {
    margin-inline: map-get($map: $margin-inline, $key: 'sm');
    max-width: 1536px;

    @include mq-min('md') {
        margin-inline: map-get($map: $margin-inline, $key: 'md');
    }

    @include mq-min('xl') {
        margin-inline: map-get($map: $margin-inline, $key: 'lg');
    }
}
