@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../base/layout-breakpoints' as *;

.container {
    margin-inline: map-get($map: $margin-inline, $key: 'sm');

    @include mq-min('md') {
        margin-inline: map-get($map: $margin-inline, $key: 'md');
    }

    @include mq-min('xl') {
        margin-inline: map-get($map: $margin-inline, $key: 'lg');
    }
    @include mq-min('xxl') {
        margin-inline: auto;
        max-width: 1320px;
    }
}
