@use 'colors';
@use '../base/layout-breakpoints';

// Typography Variables and configuration

//Font family
$font-primary: 'Circular Std';
$font-path: '../../../assets/circular-std-font-family';

// Base configuration
html {
    font-size: 62.5%;
    font-family: $font-primary;
}

// Font Weights
$weight-light: 300;
$weight-regular: 400;
$weight-medium: 500;
$weight-semibold: 600;
$weight-bold: 700;
$weight-black: 900;

// Line Heights
$line-heights: (
    normal: 1.2,
    loose: 1.6,
);

//Font-sizes for Headings

$heading-h1: (
    'sm': 4rem,
    'md': 5.6rem,
    'lg': 6.9rem,
);

$heading-h2: (
    'sm': 3.2rem,
    'md': 4rem,
    'lg': 4.4rem,
);

$heading-h3: 3.5rem;
$heading-h4: 2.8rem;

// Font-sizes for Sub-headings

$sub-heading-h1: (
    'sm': 1.6rem,
    'md': 2.3rem,
);
$sub-heading-h2: 1.4rem;

// Font-sizes for body text

$body-sm: 1.4rem;
$body-normal: 1.6rem;
$body-md: 1.8rem;
$body-lg: 2.3rem;
