@use 'sass:map';
@use '../base/reset' as *;
@use '../abstracts/variables' as *;
@use '../abstracts/colors' as *;
@use '../abstracts/mixins' as *;
@use '../vendors/icomoon' as *;
@use '../vendors/fonts.scss' as *;
@use '../base/layout-breakpoints' as *;
@use '../components/button' as *;
@use '../components/card' as *;
@use '../abstracts/utilities';

.special-offer {
    height: 100vh;
    width: 100%;
    background-color: $overlay-color;
    position: fixed;
    top: 0;
    z-index: 100;
    overscroll-behavior: contain;
    display: none;
    flex-direction: row;
    align-items: flex-end;
    padding-inline: 3.5rem;

    &__container {
        width: 360px;
        margin-inline: auto;
        background-color: $white;
        margin-top: 20%;
        border-radius: 2.4rem 2.4rem 0 0;
        display: flex;
        flex-direction: column;
        padding: 2.4rem;
        gap: 2rem;
        animation: drawer-open 1s forwards;
        transform-origin: bottom;
        position: relative;
    }

    @keyframes drawer-open {
        from {
            transform: translateY(100%);
        }

        to {
            transform: translateY(0%);
        }
    }

    @keyframes pop-up {
        from {
            transform: scale(0);
        }

        to {
            transform: scale(1);
        }
    }

    &__heading-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.8rem;
    }

    &__title {
        color: $text-secondary;
        font-weight: $weight-semibold;
        font-size: $body-xs;
        display: flex;
        gap: 0.2rem;
        text-align: end;
        line-height: map-get($map: $line-heights, $key: 'normal');
    }

    &__heading {
        color: $text-hero;
        font-weight: $weight-bold;
        font-size: map-get($map: $heading-h1, $key: 'xs');
        line-height: map-get($map: $line-heights, $key: 'normal');
    }

    &__instruction {
        color: $text-primary-50;
        font-size: $body-xs;
        font-weight: $weight-regular;
        line-height: map-get($map: $line-heights, $key: 'normal');
    }

    &__spin-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__spinner {
        border-radius: 50%;
        height: 228px;
        width: 228px;
        background-color: $wheel-base-color;
        transition: transform 4s cubic-bezier(0.15, 0, 0.2, 1);
        position: relative;
        border: 4px solid $white;
        box-shadow: $shadow-wheel-primary;
    }

    &__items {
        width: 70px;
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
        color: $white;
        font-weight: $weight-bold;
        line-height: map-get($map: $line-heights, $key: 'normal');
        font-size: $body-xs;
        transform-origin: 0 0;
    }

    &__close-btn {
        position: absolute;
        top: 5%;
        right: 5%;
    }

    &__deals-slice {
        width: 200px;
        height: 200px;
        text-align: center;
    }

    &__spin-btn {
        width: 4.4rem;
        height: 4.4rem;
        border: 3px solid $text-secondary;
        position: absolute;
        top: 40%;
        left: 40%;
        bottom: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $white;
        border-radius: 50%;
        color: $text-secondary;
        box-shadow: $shadow-wheel-secondary;
    }

    &__view-unlock-deals-btn {
        width: 100%;
        font-size: $body-sm;
        font-weight: $weight-bold;
        line-height: map-get($map: $line-heights, $key: 'normal');
    }

    &__bubble-counter {
        height: 1.8rem;
        width: 1.8rem;
        background-color: $wheel-color-secondary;
        border-radius: 50%;
        font-size: $body-xs;
        font-weight: $weight-medium;
        line-height: map-get($map: $line-heights, $key: 'normal');
        color: $white;
        padding: 0.3rem;
    }

    &__win-message {
        font-size: $body-sm;
        font-weight: $weight-bold;
        line-height: map-get($map: $line-heights, $key: 'normal');
        text-align: center;
    }
}

@include mq-min('md') {
    .special-offer {
        align-items: center;

        &__container {
            border-radius: 2.4rem;
            animation-name: pop-up;
            transform-origin: initial;
        }
    }
}
